html { 
    background-color: lightgrey; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    color: black;
    background-color: transparent;
    font-family: "Arial, Helvetica, sans-serif";
}

h1 {
    font-size: 54px;
}

div#title {
    margin:auto;
}

div#query {
    margin: auto;
    max-width: 1500px;
}

div#results {
    margin-top: 40px;
    text-transform: capitalize;
    font-size: 24px;
}

input#place-query {
    text-align: center;
}

body #page-container {
    margin-top: 40px;
    text-align: center;
    margin-bottom: 40px;
}